<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>MMolnar Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>
body { 
  width: 50%;
  height:80%;
  font-family: 'Helvetica';
  background: #000;
  color: #fff;
  font-size: 12px;
  text-align:center;
  letter-spacing:1.4px;
}
img {
  height: 50%;
  width: 50%;
}
img.two {
  height: 40%;
  width: 40%;
}
.btn:hover {
  background-color: black;
  color: white;
}
</style>
</head>

<body>
  <div class="login">
	<h1 style='font-size: 300%;'>Machine Learning Sentiment Predictor</h1>
  <br>
  <img src = 'static/images/sentiment_image.png'>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="your_text" placeholder="Enter Your Text Here" required="required" size='100'/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   {{your_text}}
   <br>
   <br>
   <p style='font-size:200%;'>{{prediction_text }}</p>
   <p style='font-size: 150%;'><img class='two' src={{url}}>
   <br>
   <br>
   {{neg_text}}
   <br>
   {{neu_text}}
   <br>
   {{pos_text}}
   </p>
 </div>

</body>
</html>